basic-soap-web-services/basic-soap-web-services/src/main/resources/response.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="response" type="responseType"/>
  <xs:complexType name="statusType">
    <xs:sequence>
      <xs:element type="xs:short" name="code"/>
      <xs:element type="xs:string" name="message"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responseType">
    <xs:sequence>
      <xs:element type="statusType" name="status"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>