basic-soap-web-services/basic-soap-web-services/src/main/resources/user.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="user" type="userType"/>
  <xs:complexType name="userType">
    <xs:sequence>
      <xs:element type="xs:string" name="username"/>
      <xs:element type="xs:string" name="password"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>